<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="colaborador" >

    <select id="obtener-todos" resultType="pojo.Colaborador">
        SELECT 
        c.id_colaborador AS idColaborador,
        c.no_personal AS noPersonal,
        c.curp,
        c.nombre, 
        c.apellido_paterno AS apellidoPaterno, 
        c.apellido_materno AS apellidoMaterno, 
        c.email, 
        c.rol, 
        c.id_sucursal AS idSucursal,
        s.nombre AS sucursal,  c.licencia,
        c.activo
        FROM colaboradores c
        INNER JOIN sucursales s ON c.id_sucursal = s.id_sucursal
        ORDER BY c.apellido_paterno
    </select>
    
    <insert id="registrar" parameterType="pojo.Colaborador"> 
        INSERT INTO colaboradores(
        no_personal, curp, nombre, apellido_paterno, apellido_materno, 
        email, contrasena, rol, id_sucursal, licencia, 
        foto, activo) 
        VALUES(
        #{noPersonal}, #{curp}, #{nombre}, #{apellidoPaterno}, #{apellidoMaterno},
        #{email}, #{contrasena}, #{rol}, #{idSucursal}, #{licencia},
        #{foto}, #{activo})
    </insert>
    
    <update id="editar" parameterType="pojo.Colaborador">
        UPDATE colaboradores
        SET 
        no_personal = #{noPersonal},
        curp = #{curp},
        nombre = #{nombre}, 
        apellido_paterno = #{apellidoPaterno}, 
        apellido_materno = #{apellidoMaterno}, 
        email = #{email},
        rol = #{rol},
        id_sucursal = #{idSucursal},
        licencia = #{licencia},
        activo = #{activo}
        WHERE id_colaborador = #{idColaborador}
    </update>
    
    <delete id="eliminar" parameterType="int">
        DELETE FROM colaboradores
        WHERE id_colaborador = #{idColaborador}
    </delete>
    
    <update id="guardar-foto" parameterType="pojo.Colaborador"> 
        UPDATE colaboradores
        SET 
        foto = #{foto}  WHERE id_colaborador = #{idColaborador}
    </update>
    
    <select id="obtener-foto" parameterType="int" resultType="pojo.Colaborador">
        SELECT 
        id_colaborador AS idColaborador, 
        TO_BASE64(foto) AS fotoBase64 
        FROM colaboradores 
        WHERE id_colaborador = #{idColaborador}
    </select>
    
    <select id="login" resultType="pojo.Colaborador">
        SELECT 
            c.id_colaborador AS idColaborador,
            c.no_personal AS noPersonal,
            c.curp,
            c.nombre, 
            c.apellido_paterno AS apellidoPaterno, 
            c.apellido_materno AS apellidoMaterno, 
            c.email, 
            c.rol, 
            c.id_sucursal AS idSucursal,
            s.nombre AS sucursal, 
            c.licencia,
            c.activo
        FROM colaboradores c
        INNER JOIN sucursales s ON c.id_sucursal = s.id_sucursal
        WHERE c.no_personal = #{noPersonal} 
          AND c.contrasena = #{contrasena}
          AND c.activo = 1
    </select>
    
</mapper>