<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="envio">

  <resultMap id="mapaEnvioCompleto" type="pojo.Envio">
    <id property="id" column="id"/>
    <result property="idCliente" column="idCliente"/>
    <result property="numGuia" column="numGuia"/>
    <result property="direccionDestino" column="direccionDestino"/>
    <result property="ciudadDestino" column="ciudadDestino"/>
    <result property="estadoDestino" column="estadoDestino"/>
    <result property="estatus" column="estatus"/>
    <result property="costo" column="costo"/>
    <result property="destinatarioNombre" column="destinatarioNombre"/>
    <result property="destinatarioTelefono" column="destinatarioTelefono"/>
    <result property="fechaCreacion" column="fechaCreacion"/>
    <result property="peso" column="peso"/>
    <result property="idColaboradorActualizo" column="idColaboradorActualizo"/>
    
    <result property="sucursalOrigen" column="sucursalNombre"/>
    <result property="direccionOrigen" column="direccionOrigen"/>
    <result property="nombreCliente" column="nombreCliente"/>
    <result property="telefonoCliente" column="telefonoCliente"/>
    <result property="correoCliente" column="correoCliente"/>

    <collection property="paquetes" column="id" 
                select="paquete.obtener-por-envio"/>
  </resultMap>

  <select id="obtener-todos" resultMap="mapaEnvioCompleto">
    SELECT
      e.id,
      e.id_cliente AS idCliente,
      e.num_guia AS numGuia,
      e.direccion_destino AS direccionDestino,
      e.ciudad_destino AS ciudadDestino,
      e.estado_destino AS estadoDestino,
      e.costo,
      e.estatus,
      e.fecha_creacion AS fechaCreacion,
      e.destinatario_nombre AS destinatarioNombre,
      e.destinatario_telefono AS destinatarioTelefono,
      e.peso,
      e.id_colaborador_actualizo AS idColaboradorActualizo,
      
      -- 1. Datos de Sucursal (Origen)
      s.nombre AS sucursalNombre,
      CONCAT(s.calle, ' #', s.numero, ', ', s.colonia, ', ', s.codigo_postal) AS direccionOrigen,
      
      -- 2. Datos de Cliente (Remitente)
      CONCAT(c.nombre, ' ', c.apellido) AS nombreCliente,
      c.telefono AS telefonoCliente,
      c.correo AS correoCliente

    FROM envios e
    INNER JOIN sucursales s ON e.id_sucursal_origen = s.id_sucursal
    INNER JOIN clientes c ON e.id_cliente = c.id
    ORDER BY e.fecha_creacion DESC
  </select>

  <select id="obtener-por-id" parameterType="int" resultType="pojo.Envio">
    SELECT * FROM envios WHERE id = #{id}
  </select>

  <select id="obtener-por-guia" parameterType="string" resultType="pojo.Envio">
    SELECT * FROM envios WHERE num_guia = #{numGuia}
  </select>

  <insert id="registrar" parameterType="pojo.Envio" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO envios (
      id_cliente, num_guia, direccion_destino, ciudad_destino, estado_destino,
      id_sucursal_origen, costo, estatus, destinatario_nombre, destinatario_telefono, peso
    ) VALUES (
      #{idCliente}, #{numGuia}, #{direccionDestino}, #{ciudadDestino}, #{estadoDestino},
      #{idSucursalOrigen}, #{costo}, #{estatus}, #{destinatarioNombre}, #{destinatarioTelefono}, #{peso}
    )
  </insert>

  <update id="actualizar-guia" parameterType="pojo.Envio">
    UPDATE envios
    SET num_guia = #{numGuia}
    WHERE id = #{id}
  </update>

  <update id="editar" parameterType="pojo.Envio">
    UPDATE envios
    SET
      id_cliente = #{idCliente},
      num_guia = #{numGuia},
      direccion_destino = #{direccionDestino},
      ciudad_destino = #{ciudadDestino},
      estado_destino = #{estadoDestino},
      id_sucursal_origen = #{idSucursalOrigen},
      costo = #{costo},
      destinatario_nombre = #{destinatarioNombre},
      destinatario_telefono = #{destinatarioTelefono},
      peso = #{peso}
    WHERE id = #{id}
  </update>

  <update id="cambiar-estatus" parameterType="pojo.Envio">
    UPDATE envios
    SET estatus = #{estatus},
        id_colaborador_actualizo = #{idColaboradorActualizo},
        fecha_actualizacion = NOW()
    WHERE id = #{id}
  </update>

  <delete id="eliminar" parameterType="int">
    DELETE FROM envios WHERE id = #{id}
  </delete>

  <select id="findEnvioByConductor" parameterType="int" resultType="int" >
    SELECT id FROM envios WHERE id_colaborador_actualizo = #{conductorId} LIMIT 1
  </select>

  <update id="updateEnvioSetColaborador" parameterType="map">
    UPDATE envios
    SET id_colaborador_actualizo = #{conductorId},
        fecha_actualizacion = NOW()
    WHERE id = #{envioId}
  </update>

  <update id="clearEnvioColaborador" parameterType="int">
    UPDATE envios
    SET id_colaborador_actualizo = NULL,
        fecha_actualizacion = NOW()
    WHERE id = #{envioId}
  </update>

</mapper>